---
title: Stemcell Release Notes
Owner: BOSH
modified_date: false
---

This topic provides an overview of the Stemcell versions available on
[<%= vars.product_network %>](https://network.pivotal.io/).

A stemcell is a versioned OS image that BOSH uses to create VMs for the BOSH Director,
<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>), and other Service tiles such as VMware Tanzu SQL [MySQL].
For more information, see [What is a Stemcell?](https://bosh.cloudfoundry.org/docs/stemcell.html)
in the BOSH documentation.

Stemcells are available for download on <%= vars.product_network %>. Once downloaded, you can upload them to
your deployment using the **Stemcell** configuration pane of a given tile or by navigating to the
**Stemcell Library** page in <%= vars.platform_name %>.

Before you upgrade <%= vars.platform_name %>, always verify that all installed tiles are compatible
with the version of <%= vars.platform_name %> that you are deploying and its supported stemcells.
For more information about <%= vars.platform_name %> and stemcell compatibility, see
[Review Service Tile Compatibility](https://docs.pivotal.io/ops-manager/upgrade/checklist.html#compatibility)
in _Upgrade Preparation Checklist_.

To discover which stemcell version is used by which tile version, review the release notes or the
[<%= vars.product_network %>](https://network.pivotal.io/) download page for the tile.

  <p class="note"><strong>Note:</strong> Manual stemcell creation has been deprecated.
    Use <code>stembuild</code> v2019.23 or later to create stemcells automatically.
    For more information,
    see <a href="https://docs.pivotal.io/application-service-windows/<%= vars.current_major_version %>/create-vsphere-stemcell-automatically.html">Creating a Windows Stemcell for vSphere Using stembuild</a>.
  </p>


##<a id="linux"></a> Ubuntu Linux Stemcell Lines

This section lists Linux-based stemcells used by <%= vars.platform_name %>.

###<a id="xenial"></a> Xenial Stemcells

Each stemcell line has a corresponding release notes section. See the links below:

* [Stemcell 621.x Release Notes](./stemcells.html#621-line)
* [Stemcell 456.x Release Notes](./stemcells.html#456-line)

Ubuntu 16.04 LTS (Xenial) will be supported until 2024

####<a id="xenial-addons"></a> Add-on Support for Xenial Stemcells

If you use any of the following <%= vars.platform_name %> add-ons, you must update the add-on and
its configuration to be compatible with the Ubuntu Xenial 16.04 stemcell before deploying any tiles
that use Xenial. The following add-on versions support the Xenial stemcell:

* Anti-Virus v1.2.22 or later. For more information about updating this add-on, see
[Updating Anti-Virus to Run with Xenial Stemcells](https://docs.pivotal.io/addon-antivirus/1-4/updating-for-xenial.html) in _Anti-Virus_.
* File Integrity Monitoring v1.4.28 or later. For more information about updating this add-on, see
[Updating FIM to Run with Xenial Stemcells](https://docs.pivotal.io/1-4/addon-fim/updating-for-xenial.html) in
_File Integrity Monitoring_.
* IPSec v1.9.9 or later. For more information about updating this add-on, see
[Updating IPsec to Run with Xenial Stemcells](https://docs.pivotal.io/addon-ipsec/updating-for-xenial.html)
in _IPsec_.

For information about which tile releases use Xenial, see [Tiles Using Xenial Stemcells](xenial-tiles.html).

###<a id="jammy"></a> Jammy Stemcells

See the [Jammy Release Notes](./stemcells.html#jammy) for more information.

Ubuntu 22.04 LTS (Jammy) will not be supported after its End of Standard Support (April 2027).

## <a id="windows"></a> Windows Stemcell Lines

This section lists Windows-based stemcells used by <%= vars.platform_name %>. Each stemcell line
has a corresponding release notes section. See the links below:

* [Stemcell 2019.x (Windows Server 2019) Release Notes](./windows-stemcell-v2019x.html)
* [Stemcell 1803.x (Windows Server, version 1803) Release Notes](./windows-stemcell-v1803x.html)
* [Stemcell 1709.x (Windows Server, version 1709) Release Notes](./windows-stemcell-v1709x.html)
* [Stemcell 1200.x (Windows Server 2012 R2) Release Notes](./windows-stemcell-v1200x.html)
