---
title: Stemcell Release Notes
Owner: BOSH
modified_date: false
---

This topic provides an overview of the Stemcell versions used by <%= vars.platform_name %>.

A stemcell is a versioned OS image that BOSH uses to create VMs for the BOSH Director,
<%= vars.app_runtime_full %>, and other Service tiles such as MySQL for VMware Tanzu. For more
information, see <a href="https://bosh.cloudfoundry.org/docs/stemcell.html">What is a Stemcell?</a>
in the BOSH documentation.</p>

Stemcells are available for download on Pivotal Network. Once downloaded, you can upload them to
your deployment using the **Stemcell** configuration pane of a given tile or by navigating to the
**Stemcell Library** page in <%= vars.platform_name %>.

Before you upgrade <%= vars.platform_name %>, always verify that all installed tiles are compatible
with the version of <%= vars.platform_name %> that you are deploying and its supported stemcells.
For more information about <%= vars.platform_name %> and stemcell compatibility, see
<a href="https://docs.pivotal.io/platform/upgrading/checklist.html#compatibility">Review Service Tile Compatibility</a>
in the _Upgrade Preparation Checklist_.

To discover which stemcell version is used by which tile version, review the release notes or the
Pivotal Network download page for the tile.


##<a id="linux"></a> Ubuntu Linux Stemcell Lines

This section lists Linux-based stemcells used by <%= vars.platform_name %>.

###<a id="ubuntu"></a> Trusty Stemcells

Each stemcell line has a corresponding release notes section. See the links below:

* [Stemcell 3586.x Release Notes](./stemcells.html#3586-line)
* [Stemcell 3541.x Release Notes](./stemcells.html#3541-line)
* [Stemcell 3468.x Release Notes](./stemcells.html#3468-line)
* [Stemcell 3445.x Release Notes](./stemcells.html#3445-line)
* [Stemcell 3421.x Release Notes](./stemcells.html#3421-line)
* [Stemcell 3363.x Release Notes](./stemcells.html#3363-line)

####<a id="trusty-end"></a>  Trusty End-of-Support

Ubuntu 14.04 LTS (Trusty) stemcells reached end-of-support in April 2019. The release of stemcells
for <%= vars.platform_name %> product tiles that support Ubuntu 16.04 LTS (Xenial) started in
September 2018. You must use supported stemcells to avoid exposure to security vulnerabilities.

###<a id="xenial"></a> Xenial Stemcells

Each stemcell line has a corresponding release notes section. See the links below:

* [Stemcell 97.x Release Notes](./stemcells.html#97-line)
* [Stemcell 87.x Release Notes](./stemcells.html#87-line)
* [Stemcell 81.x Release Notes](./stemcells.html#87-line)
* [Stemcell 60.x Release Notes](./stemcells.html#60-line)
* [Stemcell 50.x Release Notes](./stemcells.html#50-line)
* [Stemcell 40.x Release Notes](./stemcells.html#40-line)

####<a id="xenial-addons"></a> Add-on Support for Xenial Stemcells

If you use any of the following <%= vars.platform_name %> add-ons, you must update the add-on and
its configuration to be compatible with the Ubuntu Xenial 16.04 stemcell before deploying any tiles
that use Xenial. The following add-on versions support the Xenial stemcell:

* Anti-Virus v1.2.22 or later. For more information about updating this add-on, see
[Updating Anti-Virus to Run with Xenial Stemcells](https://docs.pivotal.io/addon-antivirus/1-4/updating-for-xenial.html) in _Anti-Virus_.
* File Integrity Monitoring v1.4.28 or later. For more information about updating this add-on, see
[Updating FIM to Run with Xenial Stemcells](https://docs.pivotal.io/1-4/addon-fim/updating-for-xenial.html) in
_File Integrity Monitoring_.
* IPSec v1.9.9 or later. For more information about updating this add-on, see
[Updating IPsec to Run with Xenial Stemcells](https://docs.pivotal.io/addon-ipsec/updating-for-xenial.html)
in _IPsec_.

For information about which tile releases use Xenial, see [Tiles Using Xenial Stemcells](xenial-tiles.html).

## <a id="windows"></a> Windows Stemcell Lines

This section lists Windows-based stemcells used by <%= vars.platform_name %>. Each stemcell line
has a corresponding release notes section. See the links below:

* [Stemcell 2019.x (Windows Server 2019) Release Notes](./windows-stemcell-v2019x.html)
* [Stemcell 1803.x (Windows Server, version 1803) Release Notes](./windows-stemcell-v1803x.html)
* [Stemcell 1709.x (Windows Server, version 1709) Release Notes](./windows-stemcell-v1709x.html)
* [Stemcell 1200.x (Windows Server 2012 R2) Release Notes](./windows-stemcell-v1200x.html)
