---
title: Stemcell v2019.x (Windows Server version 2019) Release Notes
owner: Windows
modified_date: false
---

This topic includes release notes for Windows stemcells used with the following runtimes:

- <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) v2.5 and later:
  - For Windows stemcell compatibilities with <%= vars.windows_runtime_abbr %>, see specific stemcell version notes below.
- VMware <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>, formerly PKS) v1.5 and later:
  - For Windows stemcell compatibilities with <%= vars.k8s_runtime_abbr %>, refer to the [Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.19/tkgi/GUID-release-notes.html) for your <%= vars.k8s_runtime_abbr %> version.

The stemcell is based on Windows Server, version 2019.

To download a stemcell, see [Stemcells (Windows)](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Stemcells%20(Windows)) on the Broadcom Support portal.

<p class="note">
<span class="note__title">Note</span>
Manual stemcell creation is deprecated.
Use <code>stembuild</code> v2019.23 or later to create stemcells automatically.
For more information,
see <a href="https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_version %>/tas-for-vms/create-vsphere-stemcell-automatically.html">Creating a Windows Stemcell for vSphere Using stembuild</a>.
</p>

## <a id="2019.75"></a>2019.75

**Release Date**: July 10, 2024

* [Works with Microsoft Security Updates Patch Tuesday July 9th, 2024](https://support.microsoft.com/en-us/topic/july-9-2024-kb5040430-os-build-17763-6054-0bb10c24-db8c-47eb-8fa9-9ebc06afa4e7)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.74...2019.75

## <a id="2019.74"></a>2019.74

**Release Date**: June 12, 2024

* Works with [Microsoft Security Updates Patch Tuesday June 11th, 2024](https://support.microsoft.com/en-us/help/5039217)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.73...2019.74

## <a id="2019.73"></a>2019.73

**Release Date**: May 15, 2024

* Works with [Microsoft Security Updates Patch Tuesday May, 14, 2024](https://support.microsoft.com/en-us/help/5037765)<br>
* Switch to fork of winrm to fix #27 where stembuild would hang forever if the target VM was being run in a different subnet by @jpalermo in https://github.com/cloudfoundry/stembuild/pull/30<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.72...2019.73

## <a id="2019.72"></a>2019.72

**Release Date**: April 10, 2024

- Works with [Microsoft Security Updates Patch Tuesday April, 9, 2024](https://support.microsoft.com/en-us/help/5036896)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.72...2019.72

## <a id="2019.71"></a>2019.71

**Release Date**: March 13, 2024

- Works with [Microsoft Security Updates Patch Tuesday March, 12, 2024](https://support.microsoft.com/en-us/help/5035849)

## <a id="2019.70"></a>2019.70

**Release Date**: February 15, 2024

- Works with [Microsoft Security Updates Patch Tuesday February, 13, 2024](https://support.microsoft.com/help/5034768)

## <a id="2019.69"></a>2019.69

**Release Date**: January 10, 2024

- Works with [Microsoft Security Updates Patch Tuesday January, 9, 2024](https://support.microsoft.com/en-us/help/5034127)<br>


## <a id="2019.68"></a>2019.68

**Release Date**: December 13, 2023

- Works with [Microsoft Security Updates Patch Tuesday December, 12, 2023](https://support.microsoft.com/en-us/help/5033371)<br>


## <a id="2019.67"></a>2019.67

**Release Date**: November 15, 2023

- Works with [Microsoft Security Updates Patch Tuesday November, 14, 2023](https://support.microsoft.com/en-us/help/5032196)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.66...2019.67

## <a id="2019.66"></a>2019.66

**Release Date**: October 11, 2023

- Works with [Microsoft Security Updates Patch Tuesday October 10, 2023](https://support.microsoft.com/en-us/help/5031361)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.65...2019.66

## <a id="2019.65"></a>2019.65

**Release Date**: September 13, 2023

- Works with [Microsoft Security Updates Patch Tuesday September 12, 2023](https://support.microsoft.com/en-us/help/5030214)<br>
<br>
- Removal of available Windows features now happens before the VM is restarted. We found that some feature removal can trigger the need for a restart which can then block the `Dism.exe` runs from succeeding.<br>
<br>
- Reduce the number of retries when attempting to download certificates from Windows Update. Air-gapped environments were having to wait 10 minutes for all the retries previously.<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.64...2019.65

## <a id="2019.64"></a>2019.64

**Release Date**: August 09, 2023

Works with [Microsoft Security Updates Patch Tuesday August 8, 2023](https://support.microsoft.com/en-us/help/5029247)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.63...2019.64

## <a id="2019.63"></a>2019.63

**Release Date**: July 12, 2023

Works with [Microsoft Security Updates Patch Tuesday July 11, 2023](https://support.microsoft.com/en-us/help/5028168)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.59...2019.63

## <a id="2019.62"></a>2019.62

**Release Date**: June 14, 2023

Works with [Microsoft Security Updates Patch Tuesday June 13, 2023](https://support.microsoft.com/en-us/help/5027222)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.61...2019.62

## <a id="2019.61"></a>2019.61

**Release Date**: May 10, 2023

Works with [Microsoft Security Updates Patch Tuesday May 9, 2023](https://support.microsoft.com/en-gb/help/5026362)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.58...2019.61

## <a id="2019.60"></a>2019.60

**Release Date**: April 12, 2023

Works with [Microsoft Security Updates Patch Tuesday April 11, 2023](https://support.microsoft.com/en-gb/help/5025229)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.58...2019.60

## <a id="2019.59"></a>2019.59

**Release Date**: March 15, 2023

Works with [Microsoft Security Updates Patch Tuesday March 14, 2023](https://support.microsoft.com/en-gb/help/5023702)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.58...2019.59

## <a id="2019.58"></a>2019.58

**Release Date**: February 15, 2023

Works with [Microsoft Security Updates Patch Tuesday February 14, 2023](https://support.microsoft.com/en-gb/help/5022840)<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.57...2019.58

## <a id="2019.57"></a>2019.57

**Release Date**: January 12, 2023

Works with [Microsoft Security Updates Patch Tuesday January 10, 2023](https://support.microsoft.com/en-gb/help/5022286)

## <a id="2019.56"></a>2019.56

**Release Date**: December 14, 2022

Works with [Microsoft Security Updates Patch Tuesday December 13, 2022](https://support.microsoft.com/en-gb/help/5021237)

## <a id="2019.55"></a>2019.55

**Release Date**: November 09, 2022

Works with [Microsoft Security Updates Patch Tuesday November 8, 2022](https://support.microsoft.com/en-us/topic/november-8-2022-kb5019966-os-build-17763-3650-b09dad62-5cd7-47cd-992f-b7d01f2956c1)

## <a id="2019.54"></a>2019.54

**Release Date**: October 19, 2022

## What's Changed<br>
* Fix compilation instructions for macOS in README by @ctlong in https://github.com/cloudfoundry/stembuild/pull/20<br>
<br>
## New Contributors<br>
* @ctlong made their first contribution in https://github.com/cloudfoundry/stembuild/pull/20<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.51...2019.54

## <a id="2019.53"></a>2019.53

**Release Date**: September 15, 2022

## What's Changed<br>
* Fix compilation instructions for macOS in README by @ctlong in https://github.com/cloudfoundry/stembuild/pull/20<br>
<br>
## New Contributors<br>
* @ctlong made their first contribution in https://github.com/cloudfoundry/stembuild/pull/20<br>
<br>
**Full Changelog**: https://github.com/cloudfoundry/stembuild/compare/2019.51...2019.53

## <a id="2019.52"></a>2019.52

**Release Date**: August 10, 2022

Works with [Microsoft Security Updates Patch Tuesday August 9, 2022](https://support.microsoft.com/en-us/topic/august-9-2022-kb5016623-os-build-17763-3287-c7a0bb3a-4083-4cd0-b9ad-119d9267628b)

## <a id="2019.51"></a>2019.51

**Release Date**: July 15, 2022

Works with [Microsoft Security Updates Patch Tuesday July 12, 2022](https://support.microsoft.com/en-us/topic/july-12-2022-kb5015811-os-build-17763-3165-f3bdb13c-d767-47dc-a077-0ea0e9421a96)<br>
<br>


## <a id="2019.50"></a>2019.50

**Release Date**: June 28, 2022

## Fixes<br>
- Windows VMs get restarted once after the initial boot up. Depending on the timing of this restart it was possible for it to interfere with the bosh agent bootstrap process. The bosh agent is now disabled on the initial boot and changed to start automatically so it will only come up after the automatic restart.

## <a id="2019.49"></a>2019.49

**Release Date**: June 15, 2022

Works with [Microsoft Security Updates Patch Tuesday June 23, 2022](https://support.microsoft.com/en-us/topic/june-23-2022-kb5014669-os-build-17763-3113-preview-e9aae102-e21c-4f6d-89e0-ed0a82a793dc)

## <a id="2019.48"></a>2019.48

**Release Date**: May 13, 2022

Works with [Microsoft Security Updates Patch Tuesday May 10, 2022](https://support.microsoft.com/en-us/topic/may-10-2022-kb5013941-os-build-17763-2928-e84332a3-42bb-4d3c-9f6e-89db963230db)<br>
<br>
This is the first release built using go 1.18. Golang has updated certificate requirements and if the certificates on your vCenter are not fully valid you may need to update them to work with Stembuild.

## <a id="2019.47"></a>2019.47

**Release Date**: April 13, 2022

Works with [Microsoft Security Updates Patch Tuesday April 12, 2022](https://support.microsoft.com/en-us/topic/april-12-2022-kb5012647-os-build-17763-2803-9a10c5c9-e65f-4ae1-a9c4-2db9a8eca4fc)

## <a id="2019.46"></a>2019.46

**Release Date**: March 11, 2022

Works with [Microsoft Security Updates Patch Tuesday March 8, 2022](https://support.microsoft.com/en-us/topic/march-8-2022-kb5011503-os-build-17763-2686-ccb25c67-8994-41c9-bff2-4903f9a4721d)

## <a id="2019.45"></a>2019.45

**Release Date**: February 09, 2022

## Security Patches<br>
Works with [Microsoft Security Updates Patch Tuesday February 8, 2022](https://support.microsoft.com/en-us/help/5010351)<br>


## <a id="2019.44"></a>2019.44

**Release Date**: January 13, 2022

## Security Patches<br>
Works with [Microsoft Security Updates Patch Tuesday January 11, 2022](https://support.microsoft.com/en-us/help/5009557)<br>
<br>
Note, we have seen this security update not being installed. It's possible that it has been at least partially pulled by Microsoft.<br>
<br>
## Fixes<br>
- Includes bosh-agent 2.414.0 which fixes `Cannot extract through symlink` errors caused by an updated version of `tar` in the Windows OS<br>
- Run `Dism.exe` more frequently. This resolves `The operation could not be completed due to pending operations.` and `Error: Running Dism.exe` errors we were seeing when it was run only at the end.

## <a id="2019.43"></a>2019.43

**Release Date**: January 03, 2022

Works with [Microsoft Security Updates Patch Tuesday December 14, 2021](https://support.microsoft.com/en-us/help/5008218)

## <a id="2019.42"></a>2019.42

**Release Date**: November 10, 2021

Works with [Microsoft Security Updates Patch Tuesday November 9, 2021](https://support.microsoft.com/en-us/topic/november-9-2021-kb5007206-os-build-17763-2300-c63b76fa-a9b4-4685-b17c-7d866bb50e48)

## <a id="2019.41"></a>2019.41

**Release Date**: October 13, 2021

Works with [Microsoft Security Updates Patch Tuesday October 12, 2021](https://support.microsoft.com/en-us/topic/october-12-2021-kb5006672-os-build-17763-2237-f5f567fd-950d-4db0-9d17-09435322578a)

## <a id="2019.40"></a>2019.40

**Release Date**: September 15, 2021

Works with [Microsoft Security Updates Patch Tuesday September 14, 2021](https://support.microsoft.com/en-us/topic/september-14-2021-kb5005568-os-build-17763-2183-d19b2778-204a-4c09-a0c3-23dc28d5deac)

## <a id="2019.39"></a>2019.39

**Release Date**: August 11, 2021

Works with [Microsoft Security Updates Patch Tuesday August 10, 2021](https://support.microsoft.com/en-us/topic/august-10-2021-kb5005030-os-build-17763-2114-cec503ed-cc09-4641-bdc1-988153e0bd9a)

## <a id="2019.38"></a>2019.38

**Release Date**: July 15, 2021

Works with [Microsoft Security Updates Patch Tuesday July 12, 2021](https://support.microsoft.com/en-us/topic/july-13-2021-kb5004244-os-build-17763-2061-d2b763cb-fad4-4b0a-a67f-4e184e277b99)

## <a id="2019.37"></a>2019.37

**Release Date**: June 09, 2021

Works with [Microsoft Security Updates Patch Tuesday June 8, 2021](https://support.microsoft.com/en-us/topic/june-8-2021-kb5003646-os-build-17763-1999-81e2ff5a-0769-4e56-8762-059dd6e0d6bb)

## <a id="2019.36"></a>2019.36

**Release Date**: May 12, 2021

## Security Patches<br>
- Works with [Microsoft Security Updates Patch Tuesday May 11, 2021](https://support.microsoft.com/en-us/topic/may-11-2021-kb5003171-os-build-17763-1935-3f03e74b-4759-4ca3-b9f1-4bc0d5ab5d27)

## <a id="2019.35"></a>2019.35

**Release Date**: April 14, 2021

## Security Patches<br>
- Works with [Microsoft Security Updates Patch Tuesday April 13, 2021](https://support.microsoft.com/en-us/topic/april-13-2021-kb5001342-os-build-17763-1879-52e9180d-0cd3-4ab9-8a35-514c07ea9e08)

## <a id="2019.34"></a>2019.34

**Release Date**: March 30, 2021

Includes bosh-agent 2.373.0 which enables the use of disk UUID to identify and mount ephemeral disks. This fixes an issue where the agent only accepted disk indices and ignored disks specified by UUID.

## <a id="2019.33"></a>2019.33

**Release Date**: March 22, 2021

Includes bosh-agent 2.371.0 which fixes an issue with the agent becoming unresponsive after a restart if the bosh configured NIC(s) are migrated to a vSwitch which has other hidden virtual adapters with the same MAC address.

## <a id="2019.32"></a>2019.32

**Release Date**: March 10, 2021

## Security Patches<br>
- Works with [Microsoft Security Updates Patch Tuesday March 9, 2021](https://support.microsoft.com/en-us/topic/march-9-2021-kb5000822-os-build-17763-1817-2eb6197f-e3b1-4f42-ab51-84345e063564)

## <a id="2019.31"></a>2019.31

**Release Date**: February 11, 2021

### Security Patches<br>
<br>
 - Works with [Microsoft Security Updates Patch Tuesday February 9, 2021](https://support.microsoft.com/en-us/help/4601345)<br>


## <a id="2019.30"></a>2019.30

**Release Date**: January 13, 2021

### Security Patches<br>
<br>
 - Works with [Microsoft Security Updates Patch Tuesday January 12, 2021](https://support.microsoft.com/en-us/help/4598230)<br>


## <a id="2019.29"></a>2019.29

**Release Date**: December 10, 2020

### Security Patches<br>
<br>
 - Works with [Microsoft Security Updates Patch Tuesday December 8, 2020](https://support.microsoft.com/en-us/help/4592440)<br>


## <a id="2019.28"></a>2019.28

**Release Date**: November 11, 2020

### Security Patches<br>
<br>
 - Works with [Microsoft Security Updates Patch Tuesday November 10, 2020](https://support.microsoft.com/en-us/help/4586793)<br>
<br>
### Changes<br>
<br>
- Double WinRM connection timeouts to 2 minutes (up from 1 minute)<br>
- Set Connection Timeout on WinRM file upload to 2 minutes (down from unlimited)

## <a id="2019.27"></a>2019.27

**Release Date**: October 14, 2020

### Security Patches<br>
<br>
 - Works with [Microsoft Security Updates Patch Tuesday October 13, 2020](https://support.microsoft.com/en-us/help/4577668/windows-10-update-kb4577668)

## <a id="2019.26"></a>2019.26

**Release Date**: September 11, 2020

### Security Patches<br>
<br>
 - Works with [Microsoft Security Updates Patch Tuesday September 8, 2020](https://support.microsoft.com/en-us/help/4570333)<br>
<br>
### Breaking Changes / Features<br>
<br>
- Works with LGPO V3 **Only** - This version of `stembuild` **only** works with LGPO V3. If you want to use LGPO V2.2, use an earlier version of `stembuild`.

## <a id="2019.25"></a>2019.25

**Release Date**: August 24, 2020

**Security Patches**<br>
- Works with [Microsoft Security Updates Patch Tuesday August 11th, 2020](https://support.microsoft.com/en-us/help/4565349)<br>
<br>
**Bugs**<br>
- Fixed a bug to ensure UTC timezone is set in the Windows VMs.  <br>
<br>
**EOL Notice** <br>
This release will be the last release for manually creating stemcells. You can use the stembuild-based approach to build stemcells going forward. <br>
<br>
**LGPO Version Requirement**<br>
This release will be the last release that supports LGPO V2.2.

## <a id="2019.24"></a>2019.24

**Release Date**: July 21, 2020

**Security Patches**<br>
<br>
- Includes [Microsoft Security Updates Patch Tuesday July 14th, 2020](https://support.microsoft.com/en-us/help/4558998)

## <a id="2019.23"></a>2019.23

**Release Date**: June 22, 2020

**This release announces the general availability of stembuild! Here's the [docs](https://bosh.io/docs/windows-stemcell-create/) to using it.**<br>
<br>
**Security Patches**<br>
<br>
Includes [Microsoft Security Updates Patch Tuesday June 9th, 2020](https://support.microsoft.com/en-us/help/4561608)<br>
<br>
**Features**<br>
- Stembuild construct command can now identify the location of the base VM even in multiple data centers. <br>
- Stembuild construct now logs out any users that might be logged in while the construct command is in progress to ensure minimum disruption during stemcell creation. <br>
<br>
**Deprecation Notice for Manual Stemcell Creation Process**<br>
<br>
This release also marks the start of the depreciation period for manually creating stemcells using this procedure. Going forward only the stembuild-based approach will be supported. The manual creation of stemcells-based process will be removed by September, 2020. Please ensure to migrate to [this procedure](https://bosh.io/docs/windows-stemcell-create/) before then. <br>


## <a id="2019.22"></a>2019.22

**Release Date**: May 21, 2020

Security Fix<br>
- Includes [Microsoft Security Updates Patch Tuesday May 12th, 2020](https://support.microsoft.com/en-us/help/4551853)<br>
<br>
Features<br>
- Modified `stembuild construct` to stream logs after the target VM reboots. Stembuild now reconnects to the target VM using WinRM to stream logs after the mid-command reboot, showing you what's occurring on your target VM.<br>
- Upgraded BOSH agent version to 2.317, adding the ability to create a `vcap` user on a Windows VM.

## <a id="2019.20"></a>2019.20

**Release Date**: May 30, 2020

**Release Date**<br>
<br>
### Security Fix<br>
- Includes [Microsoft Security Updates Patch Tuesday April 14th, 2020](https://support.microsoft.com/en-us/help/4549949)<br>
<br>
Note: We are back-dating this release from April'20. <br>


## <a id="2019.19"></a>2019.19

**Release Date**: March 25, 2020

Release Notes:<br>
* Includes [Microsoft Security Updates Patch Tuesday March 10th, 2020](https://support.microsoft.com/en-us/help/4538461)

## <a id="2019.17"></a>2019.17

**Release Date**: February 13, 2020

Release Notes:<br>
- Supports signed URL capability. If Windows users opt in, the bosh agent will manage artifacts on the blobstore using signed URLs rather than blobstore credentials. See [bosh documentation](https://bosh.io/docs/director-blobstore-signed-urls/) for more information on how to opt into signed URLs.<br>
- Stembuild checks whether the OS version of the VM is Windows Server 2019, OS build 17763. This is the only OS version that any stembuild v2019.x is compatible with.<br>
- Fixed a bug that required access to the public Windows Update Server to get updated root certificates for stembuild construct to execute successfully. <br>
    - Note: if your VM does not have access to the public Windows Update Server, you will need to keep your certificates updated manually.<br>
- Fixed a bug that tried to validate your VM credentials before connecting to the VM via WinRM. The workaround detailed in [this KB](https://community.pivotal.io/s/article/Validating-connection-to-vm-step-fails-during-stembuild-construct-for-Stembuild-v2019-15) should no longer be necessary for 2019.17.<br>


## <a id="2019.15"></a>2019.15

**Release Date**: January 17, 2020

Release Notes:<br>
- Includes [Microsoft Security Updates Patch Tuesday January 14th, 2020](https://portal.msrc.microsoft.com/en-us/security-guidance/releasenotedetail/2020-Jan)<br>
     - This includes fixes for [CVE-2020-0601](https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/CVE-2020-0601).<br>
- Root certificates on machines deployed using stembuild-built stemcells get updated <br>
     - Note: this requires internet connection to the Windows Updates Server to update successfully.<br>


## <a id="2019.14"></a>2019.14

**Release Date**: December 13, 2019

Release Notes:<br>
- Includes [Microsoft Security Updates Patch Tuesday December 10th, 2019](https://support.microsoft.com/en-us/help/4530715)<br>
- Updated stembuild to always use the latest version of OpenSSH (v8.0.0-p1-beta as of this release)<br>
- Root certificates on machines deployed using stembuild-built stemcells get updated certificates from the Windows Updates Server<br>


## <a id="2019.13"></a>2019.13

**Release Date**: November 21, 2019

Release Notes:<br>
- Includes [Microsoft Security Updates Patch Tuesday November 12th, 2019](https://support.microsoft.com/en-us/help/4523205)<br>
- Added logging and exit code to `stembuild construct` to allow users to see the progress of the command and know whether it has completed preparing the VM for packaging<br>
- Added retry behavior for the file rename operation in the compilation VM to reduce risk of compilation failure due to custom antivirus installations in the base image<br>


## <a id="2019.12"></a>2019.12

**Release Date**: October 11, 2019

- Includes [Microsoft Security Updates Patch Tuesday October 8th, 2019](https://support.microsoft.com/en-us/help/4519338)<br>
- Added a flag to `stembuild package` to allow user to specify patch version for the stemcell .tgz output<br>
- Fixed a bug where `stembuild construct` was failing to execute with a DISM error<br>
- Aligned Internet Explorer-based policies in stemcells built using stembuild with Microsoft Baseline Security Standard

## <a id="2019.11"></a>2019.11

**Release Date**: September 23, 2019

- Includes [Microsoft Security Updates Patch Tuesday September 10th, 2019](https://support.microsoft.com/en-us/help/4512578)<br>
- Enabled the Hyper-V Windows feature for Windows 2019 stemcells built using Stembuild<br>
- Fixed a bug that left user directories on the target machines after a user had terminated a BOSH ssh connection into that machine<br>
    - Deleted: `.ssh` directory and all normal files in the home directory that may have been created during the ssh session<br>
    - Not Deleted: `.dat` files loaded as part of the registry hive when a user logs in. Files will exist with file locks until the next VM reboot.<br>


## <a id="2019.9"></a>2019.9

**Release Date**: August 26, 2019



## <a id="2019.8"></a>2019.8

**Release Date**: August 26, 2019



## <a id="2019.7"></a>2019.7

**Release Date**: July 10, 2019

### Features<br>
- Key improvements in stembuild with features such as SSH enable-by-default for deployed Windows VMs on vSphere and security fixes.<br>
- Enabled the Hyper-V Windows feature

## <a id="2019.6"></a>2019.6

**Release Date**: June 25, 2019



## <a id="2019.5"></a>2019.5

**Release Date**: June 25, 2019



## <a id="2019.4"></a>2019.4

**Release Date**: June 25, 2019



## <a id="2019.3"></a>2019.3

**Release Date**: May 07, 2019

## Features<br>
- Introduced a new command `stembuild construct` <br>
- Introduced new functionality in the `stembuild package` to directly import an OVA from vCenter and convert it into stemcell<br>
- These new functionalities are not available for Windows 2012R2<br>
<br>
**NOTE**: Ensure you download the stembuild that corresponds to the operating system of your local host and the stemcell version that you want to build (e.g. download `2019.3` stembuild for building a `2019.3` stemcell)<br>
<br>

